{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <!-- Include any additional CSS or JS libraries you may need -->
</head>
<body>
    <div>
        <h1>Total Marks of Students in All Tests</h1>
        <img src="{% static 'analytics/average_marks.png' %}" alt="Average Marks" style="width: 80%; max-width: 800px;">
    </div>
</body>
</html>
